<div class="container-fluid">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url( <%= image_path "background.jpg" %>);">
    <div class="banner-start" id="bstart">
      <%= render 'landing' %>
    </div>
    <div class="banner-chat hidden" id="bchat">
      <div class="row">
        <div class="col-xs-12 col-md-5 chat-status-col">
          <div class="chat-status">
            <h2>Completion: <span id="percent">0</span>%</h2>
            <h3 id="entreprise">L'entreprise de tes rêves</h3>
            <h3 id="job">Ton job idéal</h3>
            <h3 id="profil">Ton profil</h3>
            <h3 id="aspirations">Tes aspirations</h3>
          </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-1"></div>
        <div class="col-xs-12 col-md-6">
          <div class="chat-content">
            <div id="chatrestit" cf-context ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- form display for debug - to hide with hideform class -->
<% content_for(:js) do %>
    <script>

    // Initialize global variables
      // arrays and tags
      const companyTypes = <%= raw company_types %>;
      const companyIndustries = <%= raw company_industries %> ;
      const companySizes = <%= raw company_sizes %>;
      const companyTags = createCompanyTags(companyTypes, companyIndustries, companySizes);
      const jobTags = createJobTags(); // TODO
      const profileTags = createProfileTags(); // TODO
      const aspirTags = createAspirTags(); // TODO

      // dom elements
      var perCent;
      var entTag;
      var jobTag;
      var profTag;
      var aspiTag;

      // chat initialization
      var chatRestit;
      var cForm;

      var iComp = 0;
      var iJob = 0;
      var iProfile = 0;
      var iAspir = 0;
      var i = iComp + iJob + iProfile + iAspir + 1 ;

      const totalLength = companyTags.length + jobTags.length + profileTags.length + aspirTags.length + 3;
      const jsonInit = JSON.parse(JSON.stringify(<%= raw @json_init %>));

      initHomePageDOM();


    </script>
<% end %>
