<div class="applications">
	<div class="row">
		<div class="col-xs-12">
			<div class= dashboard-title>
				<h2>  <i class="fa fa-star" aria-hidden="true"></i> Candidatures </h2>
			</div>
		</div>
	</div>

	<div class="row">

		<div class="col-xs-12 col-sm-4">
			<div class="card-status status-accepted text-center">
				<div class="badge-count">
					<%= @mj_accepted.count%>
				</div>
				<div class="status-name">
					<h2>candidatures acceptées </h2>
					<i class="fa fa-check-circle" aria-hidden="true"></i> 
				</div>
				<div class="jobs">
					<% @mj_accepted.first(3).each do |mj|%>
					
					<div class="job">
						<div class = "logo"> </div>
						<div class="job-desc"> 
							<p> <strong> <%= link_to mj.job.title, profile_matched_job_path(@profile, mj.id)%> </strong> </p>
							<p><%= mj.job.company.name %></p>
						</div>
					</div>
					<% end %>
				</div>
				<div class = btn-voir-plus>
				<h2> <%= link_to "Voir plus",accepted_user_path(current_user) %> </h2>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4">
			<div class="card-status status-pending text-center">
				<div class="badge-count">
					<%= @mj_pending.count%>
				</div>
				<div class="status-name">
					<h2> candidatures en attente </h2>
					<i class="fa fa-clock-o" aria-hidden="true"></i>

				</div>
				<div class="jobs">
					<% @mj_pending.first(3).each do |mj|%>
					
					<div class="job">
						<div class = "logo"> </div>
						<div class="job-desc"> 
							<p> <strong> <%= link_to mj.job.title, profile_matched_job_path(@profile, mj.id)%> </strong> </p>
							<p><%= mj.job.company.name %></p>
						</div>
					<!-- 	<div class="btn-danger"> Voir </div> -->
					</div>
					<% end %>
				</div>
				<div class = btn-voir-plus>
					<h2>voir plus</h2>
				</div>
			</div>
		</div>


		<div class="col-xs-12 col-sm-4">
			<div class="card-status status-rejected text-center">
				<div class="badge-count">
					<%= @mj_rejected.count%>
				</div>
				<div class="status-name">
					<h2> candidatures rejetées </h2>
					<i class="fa fa-frown-o" aria-hidden="true"></i>
				</div>
				<div class="jobs">
					<% @mj_rejected.first(3).each do |mj|%>
					
					<div class="job">
						<div class = "logo"> </div>
						<div class="job-desc"> 
							<p> <strong> <%= link_to mj.job.title, profile_matched_job_path(@profile, mj.id)%> </strong> </p>
							<p><%= mj.job.company.name %></p>
						</div>
					</div>
					<% end %>
				</div>
				<div class = btn-voir-plus>
					<h2>voir plus</h2>
				</div>
			</div>
		</div>	
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class= dashboard-title>
				<h2> <i class="fa fa-heart" aria-hidden="true"></i>  Favoris </h2>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class= dashboard-title>
				
			</div>
		</div>
	</div>

</div>