<h1>Trouve un emploi!</h1>

<div class='white-wraper'>

<div class='flexbox'>
  <div class='flex-item-1'>
    <div class='trait-inf'>Filtrer par</div>

  <div class='filter-box'>
  <%= simple_form_for :query, url: filter_profile_matched_jobs_path, :method => :post do |f| %>
    <%= f.input :job_type, label: "Métier", required: false, collection: @job_types %>
    <%= f.input :contract, label: "Type de contrat", required: false, collection: @contracts %>
    <%= f.input :salary, label: "Salaire min", required: false %>
    <%= f.input :industry, label: "Secteur", required: false %>
    <%= f.input :company_type, label: "Type d'entreprise", required: false %>
    <%= f.input :size, label: "Taille d'entreprise", required: false %>
    <%= f.input :location, label: "Ville", required: false %>
    <%= f.submit "Go Laura!", class: "btn btn-primary" %>
  <% end %>
  </div>

  </div>

  <div class='flex-item-2'>
    <% @matched_jobs.each do |matched_job| %>

<%= link_to new_user_session_path do %>
<span class="card-link">
      <div class="mycard">
        <div class="line-1">
          <div class="title"><%= matched_job.job.company.name.upcase %></div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        </div>
        <div class="line-2">
          <h2><%= matched_job.job.title %></h2>
          <p><% if matched_job.job.description.split(" ").length > 60 %>
            <%= "#{matched_job.job.description.split(" ")[0..60].join(" ")} ..." %>
            <% else %>
            <%= matched_job.job.description %>
            <% end %>
          </p>
        </div>
        <div class="line-3">
          <div class="tags-1">

            <div>
              <%= link_to job_path(2) do %>
            <span><i class="fa fa-heart-o coeur" aria-hidden="true"></i> </span>
              <% end %>
            </div>
            <div class="meter">
              <span style="width:<%= matched_job.matching*100 %>%"></span>
            </div>
            <div class="pourcentage"> <%= (matched_job.matching*100).to_i.round %>% de matching</div>
          </div>
          <div class="tags-2">
            <div class="tags-elements-adapt"></div>
            <div class="tags-elements"><%= matched_job.job.contract %></div>
            <div class="tags-elements"><%= "#{matched_job.job.salary.round(0)} €" %></div>
            <div class="tags-elements"><%= matched_job.job.remote %></div>
          </div>
        </div>
    <!--     <a class="card-link" href="#" ></a> -->
      </div>



          </span>
        <% end %>

    <% end %>

  </div>








  </div>

</div>




<% content_for(:js) do %>
  <%= javascript_tag do  %>
var bar = $('span');

var width = bar.attr('style');
width = width.replace("width:", "");
width = width.substr(0, width.length-1);


var interval;
var start = 0;
var end = parseInt(width);
var current = start;

var countUp = function() {
  current++;
  p.html(current + "%");

  if (current === end) {
    clearInterval(interval);
  }
};

interval = setInterval(countUp, (1000 / (end + 1)));


  <% end %>
<% end %>
