<div class="applications">
	<div class="row">
		<div class="col-xs-12">
			<div class= dashboard-title style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url('http://res.cloudinary.com/dkalpv2xf/image/upload/g_face/v1504185591/woman-hand-smartphone-desk_stmfcu.jpg')">
				<h2> <br> <!-- <i class="fa fa-star" aria-hidden="true"></i> --> PREPARATION  <br><br><%= @matched_job.job.title %> chez <%= @matched_job.job.company.name %></h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class="card-status status-accepted text-center">
				<div class="status-name" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dkalpv2xf/image/upload/c_fill,w_350/v1504176836/m4afbxrwvk4ubzaddret.jpg');)">
        			<h2> <br><br>L'ENTREPRISE </h2>
				</div>
<!-- 				<div class="status-name">
					<h2> L'ENTREPRISE </h2>
				</div> -->
				<div class="jobs">
					
					<div class="job">
						<div class="job-desc">
							<% url = "https://www.#{@matched_job.job.company.name}.fr" %>
							<p> <strong> <%= link_to "Le site web de#{@matched_job.job.company.name}",url,target: "_blank" %> </strong> <i class="fa fa-external-link" aria-hidden="true"></i> </p>
						</div>
						
					</div>
					<div class="job">
						<div class="job-desc">
							<% url = "https://www.google.fr/search?q=#{@matched_job.job.company.name}&source=lnms&tbm=nws" %>
							<p> <strong> <%= link_to " Les actualités de l'entreprise",url, target: "_blank" %> </strong> <i class="fa fa-external-link" aria-hidden="true"></i> </p>
						</div>
					</div>
					
					<div class="job">
						<div class="job-desc">
							<% url = "https://www.google.fr/search?source=hp&q=linkedin+#{@matched_job.job.company.name}" %>
							<p> <strong> <%= link_to "L'équipe",url, target: "_blank" %> </strong> <i class="fa fa-external-link" aria-hidden="true"></i> </p>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="card-status status-accepted text-center">
				<div class="status-name" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dkalpv2xf/image/upload/c_fill,h_175,w_350/v1504176871/i0ovyuymxt5g1jel2dsr.jpg');)">
					<h2> <br><br>LE POSTE </h2>
				</div>
			
				<div class="jobs">
					
					<div class="job">
						<div class="job-desc">
							<% url = "https://www.google.fr/search?source=hp&q=fiche+metier+#{@matched_job.job.title.gsub!(/\s/,'+')}" %>
							<p> <strong> <%= link_to "Les compétences types", url, target: "_blank" %> </strong> 
							<i class="fa fa-external-link" aria-hidden="true"></i> 	</p>
							
						</div>
						
					</div>
					<div class="job">
						<div class="job-desc">
							<% url = "https://www.google.fr/search?biw=1440&bih=803&q=#{@matched_job.job.company.name}+glassdoor+salaires" %>
							<p> <strong> <%= link_to "La rémunération", url, target: "_blank" %> </strong>
							<i class="fa fa-external-link" aria-hidden="true"></i> 	</p>

						</div>
					</div>
					
					
				</div>
			</div>
		</div>
				<div class="col-xs-12 col-sm-4">
			<div class="card-status status-accepted text-center">
				<div class="status-name" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dkalpv2xf/image/upload/c_fill,w_350/v1504182033/cwvlywjcxgqoimvhbnnu.jpg');)">
					<h2> <br><br>TOI </h2>
				</div>
			
				<div class="jobs">
					
					<div class="job">
						<div class="job-desc">
							<% url = "https://www.google.fr/search?source=hp&q=fiche+metier+#{@matched_job.job.title.gsub!(/\s/,'+')}" %>
							<p> <strong> <%= link_to "Tes expériences et compétences", url, target: "_blank" %> </strong> 
							<i class="fa fa-external-link" aria-hidden="true"></i> 	</p>
							
						</div>
						
					</div>
					<div class="job">
						<div class="job-desc">
							<% url = "https://docs.google.com/document/d/1WMhhNFUqxRuZyyF1LM77udZOOP7CP6eHhjxIsL49akM/edit?usp=sharing" %>
							<p> <strong> <%= link_to "Ton anti-sèche pour l'entretien", url, target: "_blank" %> </strong>
							<i class="fa fa-external-link" aria-hidden="true"></i> 	</p>

						</div>
					</div>

					<div class="job">
						<div class="job-desc">
							<% url = "https://docs.google.com/document/d/1IJzOgSi_3MlQhpfEFp3-ORn0u4wuMgJs0wivw1DYa2I/edit?usp=sharing" %>
							<p> <strong> <%= link_to "Ta checklist pour la veille de l'entretien", url, target: "_blank" %> </strong>
							<i class="fa fa-external-link" aria-hidden="true"></i> 	</p>

						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>
</div>