<div class="applications">
	<div class="row">
		<div class="col-xs-12">
			<div class= dashboard-title>
				<h2>  <i class="fa fa-star" aria-hidden="true"></i> Ta checklist </h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class="card-status status-accepted text-center">
				<div class="badge-count">
					#1
				</div>
				<div class="status-name">
					<h2> L'ENTREPRISE </h2>

				</div>
				<div class="jobs">
					
					<div class="job">
						<div class="job-desc">
							<% url = "https://www.#{@matched_job.job.company.name}.fr" %>
							<p> <strong> <%= link_to "Site web d'#{@matched_job.job.company.name}",url,target: "_blank" %> </strong> <i class="fa fa-external-link" aria-hidden="true"></i> </p>
						</div>
						
					</div>
					<div class="job">
						<div class="job-desc">
							<% url = "https://www.google.fr/search?q=#{@matched_job.job.company.name}&source=lnms&tbm=nws" %>
							<p> <strong> <%= link_to "Actualites de l'entreprise",url, target: "_blank" %> </strong> <i class="fa fa-external-link" aria-hidden="true"></i> </p>
						</div>
					</div>
					
					<div class="job">
						<div class="job-desc">
							<% url = "https://www.google.fr/search?source=hp&q=linkedin+#{@matched_job.job.company.name}" %>
							<p> <strong> <%= link_to "L'equipe",url, target: "_blank" %> </strong> <i class="fa fa-external-link" aria-hidden="true"></i> </p>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="card-status status-accepted text-center">
				<div class="badge-count">
					#2
				</div>
				<div class="status-name">
					<h2> <%= @matched_job.job.title.upcase %> </h2>
				</div>
				<div class="jobs">
					
					<div class="job">
						<div class="job-desc">
							<% url = "https://www.google.fr/search?source=hp&q=fiche+metier+#{@matched_job.job.title.gsub!(/\s/,'+')}" %>
							<p> <strong> <%= link_to "Les competences types", url, target: "_blank" %> </strong> 
							<i class="fa fa-external-link" aria-hidden="true"></i> 	</p>
							
						</div>
						
					</div>
					<div class="job">
						<div class="job-desc">
							<% url = "https://www.google.fr/search?q=#{@matched_job.job.company.name}&source=lnms&tbm=nws" %>
							<p> <strong> <%= link_to "Actualites de l'entreprise",url %> </strong> </p>

						</div>
					</div>
					
					<div class="job">
						<div class="job-desc">
							<% url = "https://www.google.fr/search?source=hp&q=linkedin+#{@matched_job.job.company.name}" %>
							<p> <strong> <%= link_to "L'equipe",url %> </strong> </p>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>