
<div class="banner-show" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 50%), url('<%= cl_image_path 'fa784trjuxv9ivebnixv', height: 800, width: 1200, crop: :fill; %>');background-position-y: 490px" >



  <div class="banner-content-show">
    <h1><%= @matched_job.job.company.name.upcase %></h1>
    <p> <%= @matched_job.job.title %> </p>
  </div>
</div>

<div class='container'>
  <div class='flexbox-show'>
    <div class='flex-item-1-job-show'>
      <div class='trait-inf-2'> En bref </div>
      <div class="meter meter-job">
        <span style="width:<%= @matched_job.matching*100 %>%"></span>
      </div>
      <div class="pourcentage-job"> <%= (@matched_job.matching*100).to_i.round %>% de matching
      </div>
      <div class="tags-elements-show"><%= @matched_job.job.contract %></div>
      <div class="tags-elements-show"><%= "#{@matched_job.job.salary.round(0)} €" %></div>
      <div class="tags-elements-show"><%= @matched_job.job.remote %></div>
      <div class="tags-elements-show"><%= @matched_job.job.job_type %></div>
    </div>

    <div class='flex-item-2-job-show'>

          <div class='trait-inf-2'> Le poste </div>
          <!-- <h2> Le poste </h2> -->

          </div>
          <% if @matched_job.job.description.first(3) == '***' %>
            <%=  formatted_description(@matched_job.job.description) %>
          <% else %>
            <p>
              <% if @matched_job.job.description.split(" ").length > 500 %>
              <%= "#{@matched_job.job.description.split(" ")[0..2500].join(" ")} ..." %>
              <%=  %>
              <% else %>
              <%= @matched_job.job.description %>
              <% end %>
            </p>
          <% end %>

          </div>


    </div>
    </div>
  <div class=flex-item-3-job-show>


      <div class='trait-inf-2'> Interessé ? </div>

      <div class="application-form" >
            <%= simple_form_for [@profile, @matched_job] do |f| %>
              <%= f.input :message, placeholder: 'Laissez un message au recruteur', input_html: { class: 'simple-form-field-show' }, rows: 20%>
              <%= f.input :status, as: :hidden, input_html: { value: 'Pending' } %>
              <%= f.button :submit, "POSTULER", class: "btn btn-danger" %>
            <% end %>
      </div>
    </div>
</div>
