<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hey Laura - la discussion qui va booster ta carrière</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <% url= "http://res.cloudinary.com/dkalpv2xf/image/upload/v1503397215/favicon_qflwwj.ico"%>
    <link rel="icon" href="<%= url %>" type="image/x-icon">
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="wrapper">
        <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= yield(:js) %>
  </body>
</html>
